html, body, #root { margin: 0; padding: 0; height: 100%; }
.custom-link { padding: 8px 12px; margin: 3px 0; border-radius: 6px; font-weight: 500; color: #0C46C4 !important; transition: background .2s; }
.custom-link:hover, .custom-link.active { background-color: #28C2A0; color: #fff !important; text-decoration: none; }